body {
  background-color: #fafafa;
  color: #ff9966;
  font-family: open sans;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: #ff9966;
  text-decoration: none;
}

a:visted {
  color: #ff9966;
  text-decoration: none;
}

a:hover {
  color: #333;
}

ul {
  list-style: none;
  display: -webkit-inline-box;
}

ul li {
  padding-right: 30px;
}

.header {
  width: 100%;
  text-align: center;
}

.header h1 {
  font-style: italic;
  font-weight: 200;
  font-size: 32px;
  padding-top: 25px;
}

.sub-title {
  font-weight: 300;
  margin-right: 20%;
  margin-left: 20%;
  color: #333;
}

.nav-item {
  padding-right: 10px;
  margin-top: -15px;
  position: absolute;
  right: 0;
  font-weight: 300;
  font-size: small;
}

.content-container {
  width: 80%;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 100%;
  width: 978px;
  margin: 0 auto;
}

.sample-title {
  position: absolute;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
  height: 50px;
  width: 100%;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  overflow: hidden;
}

.sample-title p {
  margin-bottom: 8px;
}

.content p {
  position: relative;
  bottom: 0;
  padding-left: 14px;
  -webkit-transition: all 0.5s;
 transition: all 0.5s;
}

.content a {
  position: relative;
  bottom: 0;
  padding-left: 14px;
  -webkit-transition: all 0.5s;
 transition: all 0.5s;
}

.sample-details p {
  margin-top: 3px;
  margin-bottom: -9px;
  overflow: hidden;
}

.sample-details a {
  margin-top: 3px;
  margin-bottom: 4px;
  overflow: hidden;
}

.sample-1 {
  background-size: cover;
  background-position: center top;
  margin: 10px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  width: 453px;
  height: 255px;
  background-image: url("../img/sample-work/mt.jpg");
  background-size: contain;
}

.sample-details-1 {
  font-size: 14px;
}

.sample-details-2 {
  font-size: 14px;
}

.sample-link-1 {
  font-size: 12px;
  font-style: italic;
}

.sample-link-2 {
  font-size: 12px;
  font-style: italic;
}

.sample-2 {
  background-size: cover;
  background-position: center top;
  margin: 10px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  right: 0;
  width: 453px;
  height: 255px;
  background-image: url("../img/sample-work/rent-calc.jpg");
  background-size: contain;
}

.expo-container {
  background-color: #ccc;
  width: 78%;
  margin: auto;
  position: relative;
  transition: all 0.5s;
}

.expo {
  margin: 30px 0px 10px 0px;
  padding: 1px 20px 5px 20px;
}

.expo-text {
  color: black;
  font-weight: 300;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 22px solid #ccc;
  margin-top: -23px;
}

.left {
  margin-left: 200px;
}

.right {
  position: absolute;
  right: 0;
  margin-top: -22px;
  margin-right: 200px;
}

.nope {
  opacity: 0;
}

.unfocused {
  opacity: 0.3;
  z-index: -1;
  position: absolute;
  right: 0px;
  margin-top: 0px;
  left: 20px;
}


