@font-face {
  font-family: RW-EL;
  src: url('./Raleway-ExtraLight.ttf');
}

@font-face {
  font-family: RW-L;
  src: url('./Raleway-Light.ttf');
}

@font-face {
  font-family: RW-R;
  src: url('./Raleway-Regular.ttf');
}

@font-face {
  font-family: RW-SB;
  src: url('./Raleway-SemiBold.ttf');
}

/* for mobile - 320w */

html, body {
  height: 100%;
  background-color: #f8f8f8;
  color: #2a2a2a;
  font-family: RW-R;
  overflow-x:hidden;
}

h1 {
  margin: 0;
}

.orange {
  color: #ff6200;
}

.blue {
  color: #00afe1;
}

a, a:visited {
  text-decoration: none;
  color: #2a2a2a;
}

.site-container {
  height: 100%;
  padding: 0 9px;
  position: relative;
}

.homepage .site-container {
  overflow: hidden;
}

.homepage .site-container:before, .homepage .site-container:after {
  content: "";
  position: absolute;
}
.homepage .site-container:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(left, #ff6200 0%, #00afe1 100%);
  background-image: -webkit-linear-gradient(left, #ff6200 0%, #00afe1 100%);
  background-image: -moz-linear-gradient(left, #ff6200 0%, #00afe1 100%);
  z-index: 0;
  height: 100%;
  width: 100%;
}
.homepage .site-container:after {
  top: 3px;
  left: 3px;
  bottom: 0;
  right: 0;
  background: #f8f8f8;
  z-index: 1;
  height: calc(100% - 6px);
  width: calc(100% - 6px);
}

.homepage .top-bar {
  position: absolute;
  left: 0;
  z-index: 3;
}

.top-bar {
  height: 50px;
  width: 100%;
  display: table;
}

.title-container {
  padding-top: 10px;
}

.site-title {
  text-align: center;
  font-size: 16px;
}

.homepage .menu-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
}

.homepage .menu-container:before, .homepage .menu-container:after {
  display: none;
}

.menu-container {
  position: absolute;
  top: 40px;
  left: 0;
}

.homepage .menu {
  padding: 0;
  margin: 40px;
  line-height: 1.6;
}

.homepage .menu li {
  margin: 0;
  display: inherit;
  font-size: 2.5em;
}

.current-page {
  color: grey !important;
}


.selected-work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  height: 100%;
  max-width: 100%;
}

.selected-work a {
  max-width: 100%;
  width: 100%;
  position: relative;
  transition: all 0.5s;
  box-sizing: border-box;
  margin: 0 2px 8px 2px;
}

/*.selected-work a {
  max-width: 100%;
  width: 100%;
  margin: 0px 2px 5px 2px;
}*/

.video-thumb {
  transition: all 0.5s;
  background-position: center top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  width: 100%;
}

.menu {
  margin: 0;
  padding: 0;
  width: 100vw;
  text-align: center;
}

.menu li {
  font-size: 13px;
  margin-left: 10px;
  display: inline;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li a {
  text-decoration: none;
}

.content-container {
  padding-top: 25px;
}

.video-overlay {
  display: none;
}

.press-content {
  text-align: -webkit-center;
  padding-top: 0;
  width: 95%;
  font-size: 16px;
  margin: auto;
}

.bio {
  margin: 0;
  padding-bottom: 12px;
}

.mention-thumb {
  position: relative;
  margin-top: 70px;
}

.mention-overlay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}

.mention-overlay-text-container {
  display: inline-block;
}

.mention-title-text {
  margin: 5px 0 0 0;
}
.mention-details-text {
  margin: 5px 0 0 0;
}

.playback-video {
  top: 45%;
  transform: translateY(-50%);
}

.playback-view {
  background: rgba(0, 0, 0, 0.90);
  position: fixed;
  z-index: 34;
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  overflow: hidden;
}

.playback-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-close-button {
  cursor: pointer;
  position: absolute;
  top: -65px;
  right: 0;
  color: white;
  margin: 0;
  font-size: xx-large;
  transition: all 0.5s;
}

.video-close-button:hover {
  color: #00afe1;
}

.playback-details-ref {
  font-family: RW-EL;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
}

.video-title {
  color: white;
  position: absolute;
  width: 100%;
  top: -65px;
  text-align: -webkit-center;
  font-size: xx-large;
}

.video-details {
  color: white;
  position: absolute;
  bottom: -55px;
  text-align: -webkit-center;
  width: 100%;
}

.playback-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.playback-details-ref {
  width: 95%;
  height: 95%;
}

.video-details {
  font-size: 10px;
  bottom: -40px;
}

.video-title {
  font-size: x-large;
  top: -50px;
}

.video-close-button {
  font-size: x-large;
  top: -50px;
}

.contact-view {
  background: rgba(0, 0, 0, 0.90);
  position: fixed;
  z-index: 34;
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  overflow: hidden;
}

.contact-container {
  background-color: white;
  width: 44%;
  top: 120px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.contact-header {
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  font-size: x-large;
}

.contact-container .details {
  padding-left: 22px;
  margin: 0;
}

.personal.details {
  padding-bottom: 20px;
}

#phone-number {
  padding-top: 15px;
}

.contact-container h4 {
  padding-left: 22px;
  margin-bottom: 10px;
  font-family: RW-SB;
}

.contact-close-button {
  cursor: pointer;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 7px;
  right: 10px;
  font-size: x-large;
  transition: all 0.5s;
}

.contact-close-button:hover {
  color: #00afe1;
}

.contact-container {
  width: 95%;
}

.contact-header, .contact-close-button {
  font-size: larger;
}

.contact-container h4, .contact-container .details {
  font-size: small;
}

@media (min-width: 900px) {

  .homepage .site-container:before, .homepage .site-container:after {
  display: none;
  }

  .homepage .top-bar {
    position: inherit;
  }

  .playback-view {
    background: rgba(0, 0, 0, 0.90);
    position: fixed;
    z-index: 34;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    overflow: hidden;
  }

  .playback-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }

  .video-close-button {
    cursor: pointer;
    position: absolute;
    top: -65px;
    right: 0;
    color: white;
    margin: 0;
    font-size: xx-large;
    transition: all 0.5s;
  }

  .video-close-button:hover {
    color: #00afe1;
  }

  .playback-details-ref {
    font-family: RW-EL;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
  }

  .video-title {
    color: white;
    position: absolute;
    width: 100%;
    top: -65px;
    text-align: -webkit-center;
    font-size: xx-large;
  }

  .video-details {
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: -55px;
    text-align: -webkit-center;
    width: 100%;
  }

  .playback-video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  .contact-view {
    background: rgba(0, 0, 0, 0.90);
    position: fixed;
    z-index: 34;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    overflow: hidden;
  }

  .contact-container {
    background-color: white;
    width: 44%;
    top: 120px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  .contact-header {
    font-size: xx-large;
  }

  .contact-container .details, .contact-container h4 {
    font-size: inherit;
  }

  .personal.details {
    padding-bottom: 20px;
  }

  #phone-number {
    padding-top: 15px;
  }

  .contact-close-button {
    font-size: xx-large;
  }

  .contact-close-button:hover {
    color: #00afe1;
  }

  .site-title {
  font-family: RW-EL;
  text-align: inherit;
  font-size: 26px;
  }

  .site-container {
    padding: 0 25px;
    height: 100%;
    overflow: scroll;
  }

  .title-container {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
  }

  .menu-container {
    top: 1px;
    right: 31px;
  }

  .homepage .menu-container {
    width: 28em;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  /* Below is the fancy stuff to make the gradient work on everything but iOS Safari and IE8.
  Must Depreciate gracefully with solid border.
  !!!!! */

  .homepage .menu-container:before, .homepage .menu-container:after {
    display: inherit;
    content: "";
    position: absolute;
  }
  .homepage .menu-container:before {
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background-image: -webkit-gradient(left,  #ff6200 0%, #00afe1 100%);
    background-image: -webkit-linear-gradient(left,  #ff6200 0%, #00afe1 100%);
    background-image: -moz-linear-gradient(left,  #ff6200 0%, #00afe1 100%);
    z-index: -2;
  }
  .homepage .menu-container:after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f8f8f8;
    z-index: -1;
  }

  /*.homepage .inner-menu-container {
    background-color: white;
    position: absolute;
    top: 170px;
    right: 50%;
    transform: translateX(50%);
  }*/


  /*  border-color: -moz-linear-gradient(left,  #ff6200 0%, #00afe1 100%) #00afe1 -moz-linear-gradient(left,  #ff6200 0%, #00afe1 100%) #ff6200;

    border-color: -webkit-linear-gradient(left,  #ff6200 0%, #00afe1 100%) #00afe1 -webkit-linear-gradient(left,  #ff6200 0%, #00afe1 100%) #ff6200;

    border-color: linear-gradient(left,  #ff6200 0%, #00afe1 100%) #00afe1 linear-gradient(left,  #ff6200 0%, #00afe1 100%) #ff6200;*/

  .homepage .menu {
    text-align: center;
    padding: 30px 0;
    margin: 0;
    line-height: 1.6;
  }

  .homepage .menu li {
    margin: 0;
    display: inherit;
    font-size: 3em;
  }

  .menu {
    padding: 14px 0;
    width: inherit;
    text-align: right;
  }

  .menu li {
    font-size: 18px;
    margin-left: 17px;
  }

  .menu li:hover {
    border-bottom: thin solid #00afe1;
  }

  .homepage  .menu-container li:hover {
    border-bottom: none;
  }

  .content-container {
    padding-top: 0;
  }

  .selected-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    max-width: 100%;
  }

  .selected-work a {
    max-width: 50%;
    width: calc(50% - 4px);
    position: relative;
    transition: all 0.5s;
    box-sizing: border-box;
    margin: 0 2px 4px 2px;
  }

  .video-thumb {
    transition: all 0.5s;
    background-position: center top;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    width: 100%;
  }

  .video-overlay {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: all 0.5s;
    z-index: 33;
    top: 0;
  }

  .overlay-text-container {
    font-family: RW-R;
    position: absolute;
    color: white;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  .video-overlay:hover {
    opacity: 1;
  }

  .title-text {
    font-size: 30px;
  }

  .press-content {
    font-size: 18px;
    padding-top: 50px;
    width: 80%;
  }

  .mentions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    max-width: 100%;
  }

  .mentions a {
    max-width: 33%;
    width: calc(33% - 4px);
    position: relative;
    transition: all 0.5s;
    box-sizing: border-box;
    margin: 0 2px 4px 2px;
  }

  .mention-thumb {
    transition: all 0.5s;
    background-position: center top;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    width: 100%;
    margin-top:0;
  }

  .mention-overlay {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: all 0.5s;
    z-index: 33;
    top: 0;
  }

   .mention-overlay:hover {
    opacity: 1;
  }

  .mention-overlay-text-container {
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

}
